body {
  text-align: justify;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

h2, h3, h4, h5, h6 {
  text-align: left;
}

h1 .header-section-number {
  display: block;
  text-transform: none;
}

#header img {
  display: block;
  margin: auto;
  margin-bottom: 2em;
}

.author {
  text-align: center;
}

#muc-luc h1 {
  text-align: left;
  text-transform: none;  
}

.sub-chapter-list {
  margin-left: 20px;
}
